.heading  {
color: brown;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
font-size: 30px;

}

.image {
height: 300px;
width: 300px;
object-fit: cover;
border-radius: 50%;
text-align: center;

}

.body {
text-align: justify;
font-size: 20px;


}

#bottom-text {
    text-align: justify;
    font-size: 20px;
}